<?xml version="1.0"?>
<!--
 /**
 * @category   Config
 * @package    DeutschePost_Postident
 * @author     André Herrn <andre.herrn@netresearch.de>
 * @author     Sebastian Ertner <sebastian.ertner@netresearch.de>
 * @copyright  Copyright (c) 2012 Netresearch GmbH & Co. KG
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <DeutschePost_Postident>
            <version>13.02.28</version>
        </DeutschePost_Postident>
    </modules>
    <global>
        <helpers>
            <postident>
                <class>DeutschePost_Postident_Helper</class>
            </postident>
        </helpers>
        <models>
            <postident>
                <class>DeutschePost_Postident_Model</class>
                <resourceModel>postident_mysql4</resourceModel>
            </postident>
        </models>
        <blocks>
            <postident>
                <class>DeutschePost_Postident_Block</class>
            </postident>
        </blocks>
        <resources>
            <postident_setup>
                <setup>
                    <module>DeutschePost_Postident</module>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </postident_setup>
            <postident_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </postident_write>
            <postident_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </postident_read>
        </resources>
    </global>
    <admin>
        <routers>
            <postident>
                <use>admin</use>
                <args>
                    <module>DeutschePost_Postident</module>
                    <frontName>postident</frontName>
                </args>
            </postident>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <DeutschePost_Postident>
                    <files>
                        <default>DeutschePost_Postident.csv</default>
                    </files>
                </DeutschePost_Postident>
            </modules>
        </translate>
        <layout>
            <updates>
                <postident>
                    <file>postident.xml</file>
                </postident>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <postident>
                <use>standard</use>
                <args>
                    <module>DeutschePost_Postident</module>
                    <frontName>postident</frontName>
                </args>
            </postident>
        </routers>
        <translate>
            <modules>
                <DeutschePost_Postident>
                    <files>
                        <default>DeutschePost_Postident.csv</default>
                    </files>
                </DeutschePost_Postident>
            </modules>
        </translate>
        <events>
            <!-- Add a custom html template to shipping and billing step -->
            <core_block_abstract_to_html_after>
                <observers>
                    <append_address_data_to_billing_step>
                        <class>postident/observer</class>
                        <method>appendAddressDataToBillingStep</method>
                    </append_address_data_to_billing_step>
                    <append_address_data_to_shipping_step>
                        <class>postident/observer</class>
                        <method>appendAddressDataToShippingStep</method>
                    </append_address_data_to_shipping_step>
                </observers>
            </core_block_abstract_to_html_after>

            <!-- Add a custom layout handle in case that a verification is needed -->
            <controller_action_layout_load_before>
                <observers>
                    <postident_observer_add_layout_handle>
                        <type>singleton</type>
                        <class>postident/observer</class>
                        <method>addLayoutHandle</method>
                    </postident_observer_add_layout_handle>
                </observers>
            </controller_action_layout_load_before>

            <!-- Check if user is allowed to access checkout -->
            <controller_action_predispatch_checkout>
                <observers>
                    <postident_observer_checkIsVerified>
                        <type>singleton</type>
                        <class>postident/observer</class>
                        <method>checkIsVerified</method>
                    </postident_observer_checkIsVerified>
                </observers>
            </controller_action_predispatch_checkout>
            <!-- Save ident data for new customers -->
            <sales_order_place_after>
                <observers>
                    <postident_observer_saveIdentDataForNewCustomer>
                        <type>singleton</type>
                        <class>postident/observer</class>
                        <method>saveIdentDataForNewCustomer</method>
                    </postident_observer_saveIdentDataForNewCustomer>
                </observers>
            </sales_order_place_after>
          </events>
        <layout>
            <updates>
                <postident>
                    <file>postident.xml</file>
                </postident>
            </updates>
        </layout>
    </frontend>
    <default>
        <postident>
            <general>
                <active>0</active>
            </general>
            <idcard>
                <testmode>0</testmode>
            </idcard>
            <idcards>
                <idcard_120>
                    <code>120</code>
                    <title>Altersprüfung</title>
                </idcard_120>
                <idcard_10>
                    <code>10</code>
                    <title>Identitätsprüfung Basis</title>
                </idcard_10>
                <idcard_130>
                    <code>130</code>
                    <title>Identitätsprüfung Premium</title>
                </idcard_130>
            </idcards>
            <design>
                <cart_link_top>0</cart_link_top>
                <cart_link_bottom>1</cart_link_bottom>
            </design>
            <gateway_urls>
                <check_connect_url>https://ident.epost.de/oauth2/clientverification</check_connect_url>
                <postident_url>https://ident.epost.de/oauth2/login</postident_url>
                <access_ticket_url>https://ident.epost.de/oauth2/token</access_ticket_url>
                <identdata_url>https://ident.epost.de/oauth2/identdata</identdata_url>
            </gateway_urls>
            <verification_criteria>
                <age_verification>0</age_verification>
                <checkout_verification>0</checkout_verification>
                <verification_type>global</verification_type>
            </verification_criteria>
            <checkout>
                <use_address_data>1</use_address_data>
            </checkout>
        </postident>
    </default>
    <phpunit>
        <suite>
            <modules>
                <DeutschePost_Postident/>
            </modules>
        </suite>
    </phpunit>
</config>
